body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
    color: #b04040;
}

#quiz-container {
    text-align: center;
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#question {
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
}

#question-container {
    margin-bottom: 1rem;
}

.btn {
    padding: 10px 20px;
    margin: 5px;
    font-size: 1rem;
    cursor: pointer;
    color: #b04040;
}

.hide {
    display: none;
}



#true-btn:hover {
    background-color: rgba(61, 253, 3, 0.25);
}

#false-btn:hover{
    color: white;
    background-color: rgb(255, 0, 0);
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}